@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%); /* #FFFFFF */
  --foreground: hsl(240 10% 4%); /* #09090B */
  --card: hsl(0 0% 100%); /* #FFFFFF */
  --card-foreground: hsl(240 10% 4%); /* #09090B */
  --popover: hsl(0 0% 100%); /* #FFFFFF */
  --popover-foreground: hsl(240 10% 4%); /* #09090B */
  --primary: hsl(0 0% 0%); /* #000000 */
  --primary-foreground: hsl(0 0% 100%); /* #FFFFFF */
  --secondary: hsl(0 0% 97%); /* #F8F8F8 */
  --secondary-foreground: hsl(0 0% 9%); /* #171717 */
  --muted: hsl(0 0% 97%); /* #F8F8F8 */
  --muted-foreground: hsl(0 0% 49%); /* #737373 */
  --accent: hsl(0 0% 97%); /* #F8F8F8 */
  --accent-foreground: hsl(0 0% 9%); /* #171717 */
  --destructive: hsl(0 84.2% 60.2%); /* #EF4444 */
  --destructive-foreground: hsl(0 0% 100%); /* #FFFFFF */
  --border: hsl(0 0% 89.8%); /* #E5E5E5 */
  --input: hsl(0 0% 89.8%); /* #E5E5E5 */
  --ring: hsl(240 10% 4%); /* #09090B */
  --cream: hsl(43 52% 94%); /* #F8F4E7 */

  --chart-1: hsl(12 76% 61%); /* #E65C41 */
  --chart-2: hsl(173 58% 39%); /* #2A9D8F */
  --chart-3: hsl(197 37% 24%); /* #264653 */
  --chart-4: hsl(43 74% 66%); /* #E9C46A */
  --chart-5: hsl(27 87% 67%); /* #F4A261 */

  --radius: 8px;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* StyleGlide */
  --display-family: 'DM Sans', sans-serif;
  --text-family: 'Inter', sans-serif;
  --display-weight: 600;
  --text-weight: 400;
}

.dark {
  --background: hsl(240 10% 4%); /* #09090B */
  --foreground: hsl(0 0% 100%); /* #FFFFFF */
  --card: hsl(240 10% 4%); /* #09090B */
  --card-foreground: hsl(0 0% 100%); /* #FFFFFF */
  --popover: hsl(240 10% 4%); /* #09090B */
  --popover-foreground: hsl(0 0% 100%); /* #FFFFFF */
  --primary: hsl(0 0% 100%); /* #FFFFFF */
  --primary-foreground: hsl(0 0% 0%); /* #000000 */
  --secondary: hsl(0 0% 9%); /* #171717 */
  --secondary-foreground: hsl(0 0% 97%); /* #F8F8F8 */
  --muted: hsl(0 0% 9%); /* #171717 */
  --muted-foreground: hsl(0 0% 70%); /* #707070 */
  --accent: hsl(0 0% 9%); /* #171717 */
  --accent-foreground: hsl(0 0% 97%); /* #F8F8F8 */
  --destructive: hsl(0 84.2% 60.2%); /* #EF4444 */
  --destructive-foreground: hsl(0 0% 100%); /* #FFFFFF */
  --border: hsl(0 0% 20%); /* #333333 */
  --input: hsl(0 0% 20%); /* #333333 */
  --ring: hsl(0 0% 100%); /* #FFFFFF */
  --cream: hsl(43 32% 15%); /* #302B1E */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Custom Colors */
  --color-foreground2: var(--foreground-2);
  --color-cream: var(--cream);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --font-display: var(--display-family);
  --font-text: var(--text-family);
  --font-weight-display: var(--display-weight);
  --font-weight-text: var(--text-weight);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1220px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body,
  .font-text {
    font-family: var(--font-text);
    font-weight: var(--text-weight);
  }
  h1,
  h2,
  .font-display {
    font-family: var(--font-display);
    font-weight: var(--display-weight);
    -webkit-font-feature-settings:
      'ss02' on,
      'ss03' on,
      'ss04' on;
    -moz-font-feature-settings:
      'ss02' on,
      'ss03' on,
      'ss04' on;
    -ms-font-feature-settings:
      'ss02' on,
      'ss03' on,
      'ss04' on;
    font-feature-settings:
      'ss02' on,
      'ss03' on,
      'ss04' on; /* Enables the special `a` character and other characters for DM Sans */
  }
  .font-mono {
    font-family: var(--font-mono), monospace;
  }
}

@layer components {
  button {
    cursor: pointer;
  }
  [class*='border'] {
    @apply border-border;
  }
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
}
