@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dm-sans), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 240 10% 4%; /* #09090B */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 240 10% 4%; /* #09090B */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 240 10% 4%; /* #09090B */
    --primary: 0 0% 0%; /* #000 */
    --primary-foreground: 0 0% 98%; /* #FAFAFA */
    --secondary: 0 0% 96.1%; /* #F5F5F5 */
    --secondary-foreground: 0 0% 9%; /* #171717 */
    --muted: 0 0% 96.1%; /* #F5F5F5 */
    --muted-foreground: 0 0% 49%; /* #737373 */
    --accent: 0 0% 96.1%; /* #F5F5F5 */
    --accent-foreground: 0 0% 9%; /* #171717 */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */
    --border: 0 0% 89.8%; /* #E5E5E5 */
    --input: 0 0% 89.8%; /* #E5E5E5 */
    --ring: 240 10% 4%; /* #09090B */
    --chart-1: 12 76% 61%; /* #E65C41 */
    --chart-2: 173 58% 39%; /* #2A9D8F */
    --chart-3: 197 37% 24%; /* #264653 */
    --chart-4: 43 74% 66%; /* #E9C46A */
    --chart-5: 27 87% 67%; /* #F4A261 */
  }
  /* .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%; /* #FAFAFA 
    --card: 240 10% 4%; /* #0A0A0A 
    --card-foreground: 0 0% 98%; /* #FAFAFA 
    --popover: 240 10% 4%; /* #0A0A0A 
    --popover-foreground: 0 0% 98%; /* #FAFAFA 
    --primary: 0 0% 98%; /* #FAFAFA 
    --primary-foreground: 0 0% 9%; /* #171717 
    --secondary: 0 0% 14.9%; /* #262626 
    --secondary-foreground: 0 0% 98%; /* #FAFAFA 
    --muted: 0 0% 14.9%; /* #262626 
    --muted-foreground: 0 0% 49%; /* #737373 
    --accent: 0 0% 14.9%; /* #262626 
    --accent-foreground: 0 0% 98%; /* #FAFAFA 
    --destructive: 0 62.8% 30.6%; /* #7F1D1D 
    --destructive-foreground: 0 0% 98%; /* #FAFAFA 
    --border: 0 0% 14.9%; /* #262626 
    --input: 0 0% 14.9%; /* #262626 
    --ring: 0 0% 83.1%; /* #D4D4D4 
    --chart-1: 220 70% 50%; /* #2563EB 
    --chart-2: 160 60% 45%; /* #2E8B57 
    --chart-3: 30 80% 55%; /* #F59E0B 
    --chart-4: 280 65% 60%; /* #9333EA 
    --chart-5: 340 75% 55%; /* #EC4899 
  }*/
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
}
